# Common configuration shared between all applications
configserver:
  name: Docker JHipster Registry
  status: Connected to the JHipster Registry running in Docker

jhipster:
  security:
    authentication:
      jwt:
        # secret key which should be base64 encoded and changed in production
        base64-secret: YmRmMmE4OWNlMWM0NmVhMmE2ODY2YTA3MGU4MTQ0ZjdkNDYzMGM5MTZkNDAwY2ExMGViZTUzYTk0NTE3ZDk1NWJhMmUxYjllZmUzNGIwMTEyOWQ1ZGY2Y2JkODM5ZTI0OWUwOWY3OTllNjdiMDVkNGMwYTBiNzEzZGI1YWZlNGI=

eureka:
  client:
    service-url:
      defaultZone: http://admin:${jhipster.registry.password}@jhipster-registry:8761/eureka/
